# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Entorno virtual
entorno/

# Node
node_modules

# Build outputs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos grandes binarios
*.dll
*.exe
*.lib
*.so
*.zip
*.tar
*.mp4
*.avi
*.mov
*.h5
*.pth
*.pt
*.ckpt
*.onnx

# Bases de datos temporales
*.db
*.sqlite3


